.detail{
    position: sticky;
    top: 0;
    padding: 30px 20px;

}
.btn-1{
    background-color: rgb(86, 102, 102);
    font-weight: bolder;
    
}
.btn-2{
    background-color: rgb(86, 102, 102);
    font-weight: bolder;
}