.header{
    height: 150px;
    background-color: #1c2b35;
    text-align: center;
}
h1{
    color: aliceblue;
    font-size: xx-large;
    font-weight: bolder;
}
h3{
    color: rgb(143, 137, 137);
    font-size: x-large;
    font-weight: bolder;
}
