.container{
    display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 40px 0;
}
.items-container{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.carts{
    background-color: bisque;
}
@media only screen and (max-width: 900px) {
    .items-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
  @media only screen and (max-width: 580px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 20px;
    }
    .items-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
  }